@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225, 5.88%, 13.33%;
    --foreground: 216, 12.2%, 91.96%;
    --card: 220, 3.23%, 18.24%;
    --card-foreground: 216, 12.2%, 91.96%;
    --popover: 228, 6.85%, 10%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 217.09, 88.71%, 75.69%;
    --primary-foreground: 210 40% 98%;
    --primary-hover: 217.09, 88.71%, 71%;
    --secondary: 228, 6.85%, 14.31%;
    --secondary-foreground: 216, 12.2%, 91.96%;
    --secondary-hover: 228, 6.85%, 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210, 6.32%, 62.75%;
    --accent: 217.09, 88.71%, 75.69%;
    --accent-foreground: 210 40% 98%;
    --destructive: 4.82, 81.16%, 72.94%;
    --destructive-foreground: 210 40% 98%;
    --border: 213.33, 4.52%, 39.02%;
    --input: 180, 3.9%, 30.2%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
